Library
Logs
Packages
ProjectSettings
Temp
UserSettings
GSUnityEnginePackage.sln
Assets/UniversalRenderPipelineGlobalSettings.asset
Assets/UniversalRenderPipelineGlobalSettings.asset.meta
Assembly-CSharp.csproj
